<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap demo</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    </head>
    <body>
        <h1>Crear Pelicula</h1>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script> 
        <div class="container">
            <div class="card-header bg-black text-white"> </div>
            <div class="card-body">
                <!-- Esto es un formulario -->
                <div class="container">
                    <form th:object =" ${pelicula}"
                          th:action="@{/save}"
                          method="POST"><input type="hidden" th:field="*{id}">
                        
                        <div class="form-group mb-3 row">
                            <label  class="col-md-2 col-form-label" for="nombre_evento">Nombre pelicula</label>                            
                            <div class="col-sm-10"> 
                                <input type="text" th:field="*{nombre_pelicula}" class="form-control form-control-sm col-md-6" 
                                       placeholder= "Nombre Pelicula" id="nombre_pelicula" aria-describedby="emailHelp">                        
                            </div>

                        </div>
                          <input type="hidden" th:field="*{id}">
                        <div class="form-group mb-3 row">
                            <label  class="col-md-2 col-form-label" for="costo_pelicula">Costo Pelicula</label>                            
                            <div class="col-sm-10">  
                                <input type="text" th:field="*{costo_pelicula}" class="form-control form-control-sm col-md-6"  
                                       placeholder= "Costo Pelicula" id="costo_pelicula" aria-describedby="emailHelp">                            
                            </div>

                        </div>
                          <input type="hidden" th:field="*{id}">
                        <div class="form-group mb-3 row">
                            <label  class="col-md-2 col-form-label" for="fecha">Fecha</label>                            
                            <div class="col-sm-10">  
                                <input type="text" th:field="*{fecha}" class="form-control form-control-sm col-md-6" 
                                       placeholder= "Fecha" id="fecha" aria-describedby="emailHelp">                           
                            </div>

                        </div>
                          <input type="hidden" th:field="*{id}">
                        <div class="form-group mb-3 row">
                            <label  class="col-md-2 col-form-label" for="capacidad_maxima">Capacidad maxima</label>                            
                            <div class="col-sm-10">  
                                <input type="text" th:field="*{capacidad_maxima}" class="form-control form-control-sm col-md-6" 
                                       placeholder= "Capacidad Maxima" id="capacidad_maxima" aria-describedby="emailHelp">                            
                            </div>

                        </div>
                         <input type="hidden" th:field="*{id}">
                        <div class="form-group mb-3 row">
                            <label  class="col-md-2 col-form-label" for="lugar">Lugar</label>                            
                            <div class="col-sm-10"> 
                                <input type="text" th:field="*{lugar}" class="form-control form-control-sm col-md-6" 
                                       placeholder= "Lugar" id="lugar" aria-describedby="emailHelp">                            
                            </div>

                        </div>

                        <div class="form-group mb-3 row">
                            <label  class="form-control-sm col-form-label col-md-2" for="artistas">Artista</label>                            
                            <div class="col-sm-10">  
                                <select th:field="*{artista}" class="form-control form-control-sm col-md-6" id="artista" 
                                        aria-describedby="emailHelp"> 
                                    <option th:each="x:${artistas}"
                                            th:value="${x.id}"
                                            th:text="${x.Artista}"/>
                                </select>                             
                            </div>                  
                        </div>
                        <button type="submit" class="btn btn-primary" value="Guardar">Submit </button></form>
                </div>
            </div>
        </div>
    </body>
</html>

